body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


p, a {
  text-align: justify;
  font-size: 18px;
}
pre {
  color: #e4d4d4;
  background-color: rgb(59, 70, 71);
  padding: 15px;
  border-radius: 5px;
}
